{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "printWidth": 100,

  "svelteSortOrder": "scripts-markup-styles",
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
